# Tarea 9 - Ejercicio data frames
1.Indica cuantos estudiantes formaron parte del estudio de deporte

2.Indica cuantos individuos son hombres y cuantos son mujeres

3.Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

4.Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

5.Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

6.Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

## Pregunta 1

In [3]:
import pandas as pd
df = pd.read_csv("D:\\Desarrollo\\MyLearning\\R\\r-basic\\data\\run.csv")
df

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa
...,...,...,...,...,...,...,...,...,...
87,88,92,94,no,si,H,69.0,150,moderada
88,89,94,92,no,si,M,62.0,131,moderada
89,90,96,140,si,no,M,61.0,140,moderada
90,91,96,116,si,no,M,68.0,116,moderada
91,92,100,115,si,si,M,63.0,121,moderada

In [5]:
df.count()

Unnamed: 0        92
pulso.antes       92
pulso.despues     92
hace.deporte      92
fuma              92
genero            92
altura            92
peso              92
tipo.actividad    92
dtype: int64

## Pregunta 2

In [7]:
df.groupby('genero').count()

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,altura,peso,tipo.actividad
genero,,,,,,,,
H,57,57,57,57,57,57,57,57
M,35,35,35,35,35,35,35,35

## Pregunta 3

In [16]:
def inc_porcentaje(x):
    antes = x['pulso.antes']
    despues = x['pulso.despues']
    return (despues-antes)/antes

df2 = df.groupby('hace.deporte').apply(inc_porcentaje)
df2.groupby('hace.deporte').mean()

hace.deporte
no    0.002095
si    0.262154
dtype: float64

## Pregunta 4

In [18]:
df2 = df.groupby(['hace.deporte','genero']).apply(inc_porcentaje)
df2.groupby(['hace.deporte','genero']).mean()

hace.deporte  genero
no            H         0.002500
              M         0.001538
si            H         0.191769
              M         0.415722
dtype: float64

## Pregunta 5

In [19]:
df2 = df.groupby(['hace.deporte','fuma']).apply(inc_porcentaje)
df2.groupby(['hace.deporte','fuma']).mean()

hace.deporte  fuma
no            no     -0.000648
              si      0.009122
si            no      0.294122
              si      0.200883
dtype: float64

## Pregunta 6

In [20]:
df2 = df.groupby('tipo.actividad').apply(inc_porcentaje)
df2.groupby('tipo.actividad').mean()

tipo.actividad
intensa     0.013475
moderada    0.140157
nula        0.125000
suave       0.037472
dtype: float64

SyntaxError: invalid syntax (<ipython-input-24-0c9f860e8826>, line 1)